.button {
  border: none;
  background-color: $base-white;
  cursor: pointer;

  &_slider {
    filter: grayscale(1);
    opacity: 0.4;

    &_active {
      filter: none;
      opacity: 1;
    }
  }
}
