.page {
  @include reset;
  @include flex;
  @include flex-column;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.24px;
  min-height: 100vh;

  &__main {
    background-color: $base-white;
  }

  &__header {
    @include center-element;

    width: 1282px;
    padding-top: 22px;
    align-items: center;
    padding-bottom: 16px;
  }

  &__footer {
    position: static;
    bottom: 0;
  }

  &__clock {
    position: absolute;
    right: 20px;
  }
}
