.product-container {
    @include flex;
    flex-wrap: wrap;
    justify-content: center;

    &__product-card {
        margin-bottom: 36px;
        
        &:not(:nth-child(6n+1)) {
            margin-left: 50px;
        }
    }
}